
{% extends 'base.html.twig' %}
{% block title %} Blue Service Teste {% endblock %}

{% block body %}

       
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Carrinho</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Listar e criar Carrinho</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

<table class="table">
  <thead class="thead-light">
    <tr>
      
      <th scope="col">Nome</th>
      <th scope="col">Quantidade</th>
   
    </tr>
  </thead>
  <tbody>
   {% for produto in prodscarrinho %}
        <tr>
             <th scope="row">{{produto.nome}}</th>
             <td>{{produto.quantidade}}</td>
            <td>
              
                <a href="{{path('carrinhoremove',{prodid:produto.id})}}" class="btn btn-primary"> Remover do carrinho </a>
                {# <a href="{{path('produtoexcluir',{id:produto.id})}}" class="btn btn-primary"> Excluir </a> #}

            </td>

        </tr>
    {% endfor %}
    
  </tbody>
</table>                </div>

    <h1>DADOS PESSOAIS </h1>
   {{ form_start(form) }}
     {# {% for produto in prodscarrinho %}
      <input type="hidden" id="pedido_produto_{{produto.id}}" value="{{produto.id}}" name="pedido[produtos][]">
      {% endfor %} #}
{{ form_end(form) }}
   
            </div>
        </section>
    
            {% if msg %}

            <script>
                  Swal.fire({
                  icon: '{{statusmsg}}',
                  title: '{{msg}}',
                  showConfirmButton: false,
                 timer: 1500
                  }).then(function() {
    window.location = "/";
});
            </script>

        {% endif %}
{% endblock %}




