{% extends 'base.html.twig' %}
{% block title %}
	Blue Service Teste
{% endblock %}

{% block body %}

	
	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="text-center text-white">
				<h1 class="display-4 fw-bolder">Listagem de produtos</h1>
				<p class="lead fw-normal text-white-50 mb-0">Página principal, compre nossos produtos!</p>
			</div>
		</div>
	</header>
	<!-- Section-->
    <div class="col-sm-4"style="margin-left:40%;margin-top:5%">
    <form action="/index/search" method="GET">
		<div class="input-group">
			<div class="form-outline">
				<input type="text" name="nome" class="form-control"/>
			</div>
			<button type="submit" class="btn btn-primary ">
				<i class="bi bi-search"></i>
			</button>
		</div>
    </form>
	</div>
	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5">

			<div
				class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


				{# {{form(form)}} #}

				{% for produto in produtos %}
					<div class="col mb-5">
						<div
							class="card h-100">
							<!-- Product image-->
							<img class="card-img-top" src="{{ asset('/uploads/'~ produto.id ~'-imagem.jpg') }}" width="400px" alt="..."/>
							<!-- Product details-->
							<div class="card-body p-4">
								<div
									class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">{{produto.nome}}</h5>

                                    {% if produto.categoria is defined %}
									{% for categoria in produto.categoria %}
										<p>{{categoria.nome}}</p>
										<p>
										{% endfor %}
                                        {% endif %}
										<!-- Product price-->
										R$
										{{produto.valor}}
									</div>
								</div>
								<!-- Product actions-->
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center">
										<a class="btn btn-outline-dark mt-auto" href="{{path('produtodetalhe',{id:produto.id})}}">Detalhe</a>
									</div>
								</div>
							</div>

						</div>

					</tr>
				{% endfor %}


			</div>
		</div>
	</div>
</div></section>{% endblock %}
